/* Donna Chen */
/* stylesheet */

body {
	background-image:url("grid.png");
}

.content {
	text-align: left;
	border: solid;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 20px;
	margin-right: 25%;
	margin-left: 25%;
	/*border-radius: 15px;*/
	border-color: #dddddd;
	border-width: 1px;
	background-color:#f7f7f7;
	/*background-image: url("grid.png");*/
	font-family:consolas;
}
#image {
	text-align: center;
	padding:10px;
}
#bio {
	padding: 5px;
	background-color: #67a76c;
	margin: 2%;
	border: solid;
	border-radius: 11px;
	border-color: #67a76c;
	font-family: consolas;
	font-size: 11;
}
.header {
	margin-top: 20px;
	padding:4px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	color: white;
	font-size: 15px;
	width: 500px;
	background-color: #adc3c1;
	border-top: solid;
	border-top-color: #aeabb6;
	border-top-width: 1px;
	border-bottom: solid;
	border-bottom-color: #aeabb6;
	border-bottom-width: 1px;
}
.tags {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
a:visited {
	color:none;
}
hr {
	border-color: #dddddd;
	width = "100%";
}
.links {
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	padding: 3px;
	border:solid;
	border-color: ##dddddd;
	border-width: 1px;
	background-color:#f7f7f7;
}
.job {
	font-size: 11px;
	font-weight: bold;
}
.jobTitle {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
}
.year {
	text-align: right;
	font-style: italic;
	font-size: 11px;
	margin-left: 50%;
}
li {
	margin-left: 10px;
	font-size:11px;
	
}
#skillz {
	font-size:11px;
}