/* Donna Chen */
/* stylesheet */

body {
	background-image:url("grid.png");
	color: #6f6f6f;
}
img {
	height: 500px;
	border: solid;
	border-color:#aeabb6;
	border-width: 1px;
}
.content {
	text-align: left;
	border: solid;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 20px;
	margin-right: 25%;
	margin-left: 25%;
	border-color: #dddddd;
	border-width: 1px;
	background-color:#f7f7f7;
	font-family: georgia;
}
#image {
	text-align: center;
	padding-top:10px;
}
#bio {
	font-family: consolas;
	font-size: 11px;
}
.name {
	text-align:center;
}
.header {
	margin-top: 10px;
	padding:4px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	color: white;
	font-size: 15px;
	width: 450px;
	background-color: #adc3c1;
	border-top: solid;
	border-top-color: #aeabb6;
	border-top-width: 1px;
	border-bottom: solid;
	border-bottom-color: #aeabb6;
	border-bottom-width: 1px;
}
.tags {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
a:visited {
	color:none;
	color: #aeabb6;
}
hr {
	border-color: #dddddd;
	width = "100%";
}
.links {
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	padding: 3px;
	border:solid;
	border-color: ##dddddd;
	border-width: 1px;
	background-color:#f7f7f7;
	color: #000000;
}
.subsection {
	font-size: 12px;
	font-weight: bold;
}
.jobTitle {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
}
.year {
	text-align: right;
	font-style: italic;
	font-size: 11px;
	float:right;
}
.caption {
	text-align: center;
	font-style: italic;
	font-size: 12px;
	margin-top:10px;
}
li {
	margin-left: 10px;
	font-size:11px;
	
}
#skillz {
	font-size:11px;
}